    </br>
	</br>
	</br>
	</br>
	</br>
	</br>
	
	<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

	  
	    <div class="row featurette">
	      <div class="col-md-4">
	        <h3 class="featurette-heading">Dot Bot </br><span class="text-muted">Native iOS Game</span></h3>
		  <h4><%= link_to "DotBotApp.com", "http://www.dotbotapp.com", :target => "new"  %></h4>
	        <p >Dot Bot is a brand new game that pits your mental prowess, finger stamina, and visual acuity against one of the mightiest of geometrical objects, Dots.</p>
	  
	      </div>
		<div class="col-md-8 text-center">
			<img src="/assets/logos/dot_bot.png" width="40%">
		</div>
	    </div>
		
	  
  	  </br></br>
  	  <hr class="featurette-divider">
  	  </br></br>

      <div class="row featurette">
        <div class="col-md-4">
          <h3 class="featurette-heading">Build A Kini </br><span class="text-muted">Custom Swimwear </span></h3>
		  <h4><%= link_to "BuildAKini.com", "http://www.buildakini.com", :target => "new"  %></h4>
          <p >Utilizing the Ruby on Rails framework Greg built this site from the ground up for Fashion Designer Jacqueline Coca.  </p>
		  
        </div>
		<div class="col-md-8 text-center">
			<img src="/assets/logos/buildakini.png" width="60%">
		</div>
      </div>
	  
	  </br></br>
	  <hr class="featurette-divider">
	  </br></br>
	  
      <div class="row featurette">
        <div class="col-md-4">
          <h3 class="featurette-heading">The Local's Vacatin Guides</br><span class="text-muted">Concept</span></h3>
          <p >Utilizing the Ruby on Rails framework Greg built this site from the ground up for Fashion Designer Jacqueline Coca.  </p>
		  
        </div>
		<div class="col-md-8 text-center">
			<img src="/assets/logos/locals_vacation_guides.jpg" width="60%">
		</div>
      </div>
	  
	  
      
	  
	  </br></br>

      <!-- /END THE FEATURETTES -->


      

    </div><!-- /.container -->