</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
</br>
<div class="container marketing">

<!-- Three columns of text below the carousel -->
      <div class="row">
          <div class="col-lg-3 text-center">
            <img  src="/assets/phone.jpg" alt="Call Greg" height="100px">
            <h2>Phone</h2>
			 <%= link_to "714.322.5843", "tel:7143225843"%>
		  </br></br>
          </div>
        <div class="col-lg-3 text-center">
          <img  src="/assets/mailbox.gif" alt="Email Greg" height="100px">
          <h2>Email</h2>
		  <%= link_to "me@GregWMurray.com", "mailto:me@gregwmurray.com"%>
		  </br></br>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img   src="/assets/linkedin.png" alt="Connect Greg on LinkedIn" height="100px">
          <h2>LinkedIn</h2>
		  <%= link_to "LinkedIn.com/in/GregoryMurray", "http://linkedin.com/in/gregorywmurray", :target => "new" %>
		  </br></br>
        </div><!-- /.col-lg-4 -->
        <div class="col-lg-3 text-center">
          <img   src="/assets/github.jpg" alt="GConnect Greg on GitHub" height="100px">
          <h2>GitHub</h2>
           <%= link_to "GitHub.com/GregMurray", "http://github.com/gregmurray", :target => "new" %>
		  </br></br>
        </div><!-- /.col-lg-4 -->
      </div><!-- /.row -->
	  
	  </br>
	  </br>
	  </br>
	  
      <div class="row">
        
	  </div>
</div>