<!-- Custom styles for this template -->
    <link href="/assets/carousel.css" rel="stylesheet">


    </div>


    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/photography/suits_of_armor.jpg">
          <div class="container">
            <div class="carousel-caption">
              <h1>360° Virtual Photography</h1>
              <p>Increase Your Vacation Rental Bookings By Providing Rich 360° Virtual Tours.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Get a quote today</a></p>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/photography/madrid_rotunda.jpg" >
          <div class="container">
            <div class="carousel-caption">
              <h1>Affordable with a Fast ROI</h1>
              <p>Virtual Photography Services are Affordable with a fast Return on your investment, too</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Learn more</a></p>
            </div>
          </div>
        </div>
        <!-- <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div> -->
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->



    <!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

	  <div class="row featurette">
		  
  	  	<div class="col-md-5 text-center">
  			<img src="/assets/casa_de_balboa_logo.png">
  		</div>
		
         <div class="col-md-7">
  			<blockquote class="blockquote-reverse">
            	  	<p class="text-center"><em>"Since adding 360° Virtual Tours to our website we have been much more effective at marketing the vacation experience and quality we truly offer... giving us nearly a 20% bump in our bookings rate."</em></p>
  		  		<footer>Casa de Balboa Vacation Rentals</footer>
  			</blockquote>
        </div>
		
	</div>
		
		
	  <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">360° Virtual Tours for Vacation Rentals. <span class="text-muted">Turn Lookers into Bookers</span></h2>
          <p class="lead">One of the easiest things you can do to increase bookings for your vacation rentals and beat your competitors.  Give your potential guests the ability to take a virtual tour.  High quality images and a rich dynamic virtual tour expeience are the Number One driving forces behind successfull vacation homes.</p>
        </div>
      </div>
	  

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-5">
          <img class="featurette-image img-responsive" data-src="holder.js/500x500/auto" alt="Generic placeholder image">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Tech up. <span class="text-muted">Better efficiency leads to a larger bottom line</span></h2>
          <p class="lead">Not quite tech savy, don't worry you are not alone.  Let us do what we do best, help make your business more efficient with Smart Vacation Rental Management Tools.  We can get you up and running with robust Customer Relations Management systems, Optimize Your Site for Search Engines, Social Media Account Managers, and much more...  If your asking yourself if you really need these tools, YES you do!</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <div class="row featurette">
        <div class="col-md-7">
          <h2 class="featurette-heading">Search Engine Optimization. </br><span class="text-muted">For Vacation Rentals</span></h2>
          <p class="lead">Having a great website, fantastic vacation homes anf high quality photos doesn't matter if potential guests are not getting to your website.  We employ best white hat practices to get you ahead of your competitors.  Ask us what we can do for you.</p>
        </div>
        <div class="col-md-5">
          <img src="/assets/seo.jpg" width="450px">
        </div>
      </div>

      <hr class="featurette-divider">
	  
	  <div class="row featurette">
        <div class="col-md-5">
        	<img src="/assets/casa_de_balboa_web_design.png" width="450px">
        </div>
        <div class="col-md-7">
          <h2 class="featurette-heading">Web Design. </br><span class="text-muted">A beautiful website to match an incredible vacation rental</span></h2>
          <p class="lead">Because everything starts with having a great website.  If you are relying soley on thrid party lsiting sites to present your vacation rentals to the world, you are missing out on a huge oportunity to capitalize on your investment.  Every great vacation rental needs a great web presence.  Ask us how we can help get you started.</p>
        </div>
      </div>

      <hr class="featurette-divider">

      <!-- /END THE FEATURETTES -->


      <!-- FOOTER -->
      <footer>
        <p class="pull-right"><a href="#">Back to top</a></p>
        <p>&copy; 2014 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
      </footer>

    </div><!-- /.container -->



    <!-- Carousel
    ================================================== -->
    <div id="myCarousel2" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <img src="/assets/photography/suits_of_armor.jpg" width="100%">
          <div class="container">
            <div class="carousel-caption">
              <!-- <p>Increase Your Vacation Rental Bookings By Providing Rich 360° Virtual Tours.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Get a quote today</a></p> -->
			      <div class="row featurette">
			        <div class="col-md-7">
			          <h2 class="featurette-heading">Search Engine Optimization. </br><span class="text-muted">For Vacation Rentals</span></h2>
			          <p class="lead">Having a great website, fantastic vacation homes anf high quality photos doesn't matter if potential guests are not getting to your website.  We employ best white hat practices to get you ahead of your competitors.  Ask us what we can do for you.</p>
			        </div>
			        <div class="col-md-5">
			          <img src="/assets/seo.jpg" width="450px">
			        </div>
			      </div>
            </div>
          </div>
        </div>
        <!-- <div class="item">
          <img data-src="holder.js/900x500/auto/#555:#5a5a5a/text:Third slide" alt="Third slide">
          <div class="container">
            <div class="carousel-caption">
              <h1>One more for good measure.</h1>
              <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
              <p><a class="btn btn-lg btn-primary" href="#" role="button">Browse gallery</a></p>
            </div>
          </div>
        </div> -->
      </div>
    </div><!-- /.carousel -->


<!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
