    </br>
	</br>
	</br>
	</br>
	</br>
	</br>
	
	<!-- Marketing messaging and featurettes
    ================================================== -->
    <!-- Wrap the rest of the page in another container to center all the content. -->

    <div class="container marketing">

      <!-- START THE FEATURETTES -->

	  
		

      <div class="row featurette">
        <div class="col-md-4">
          <h3 class="featurette-heading">Project Bandit (codeName)</br><span class="text-muted">Location based native ios app</span></h3>
		  <h4><%= link_to "Currently Under Development", "#"%></h4>
          <p>Most concepts and ideas about this project are currently hush hush.  But I can tell you I am developing a location based native iOS application powered with a Ruby on Rails backend.  The backend will serve two primary tasks manage the API for mobile devices and present a web application that complements the mobile app.</p>
		  
		  </br>
		  <dl>
		    <dt>Built with</dt>
		    <dd>Objective-C, HTML, CSS, Ruby, Ruby on Rails, Javascript, jQuery, PostgreSQL, Postgis, Responsive Layout, Heroku</dd>
		  </dl>
        </div>
		<div class="col-md-8 text-center">
			<img src="/assets/project_bandit.png" width="40%">
		</div>
      </div>
	  
</div><!-- /.container -->