    <!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
        <li data-target="#myCarousel" data-slide-to="3"></li>
        <li data-target="#myCarousel" data-slide-to="4"></li>
        
      </ol>
      <div class="carousel-inner">
          <div class="item active">
            <img src="/assets/photography/madrid_rotunda.jpg" >
            <div class="container">
              <div class="carousel-caption">
                <h4>Madrid, Spain</h4>
              </div>
            </div>
          </div>
        <div class="item">
          <img src="/assets/photography/suits_of_armor.jpg">
          <div class="container">
            <div class="carousel-caption caption-black">
              <h4>Knights of Toledo, Spain</h4>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/photography/coca_castle_top_view.jpg" >
          <div class="container">
            <div class="carousel-caption">
              <h4>Coca Castle, Spain</h4>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/photography/toledo_canyon.jpg" >
          <div class="container">
            <div class="carousel-caption">
              <h4>Toledo, Spain</h4>
            </div>
          </div>
        </div>
        <div class="item">
          <img src="/assets/photography/coca_castle_ground_view.jpg" >
          <div class="container">
            <div class="carousel-caption">
              <h4>Coca Castle, Spain</h4>
            </div>
          </div>
        </div>
		
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->