<link href="/assets/carousel.css" rel="stylesheet">

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">

      <div class="carousel-inner">
        <div class="item active">
          <iframe name='tours' marginwidth='0' marginheight='0' align='middle' border='0' frameborder='0' style='height:100vh; width: 100%; z-index:1; clear:both;' allowtransparency='true' scrolling='no' src='https://www.vpix.net/index.php?tour=441192'></iframe>
          <div class="container">
            <div class="carousel-caption">
              <h1>360° Virtual Photography</h1>
			  <p>click and scroll to explore all 360°</p>
            </div>
          </div>
        </div>
		
      </div>
    </div><!-- /.carousel -->