<link href="/assets/carousel.css" rel="stylesheet">

<!-- Carousel
    ================================================== -->
    <div id="myCarousel" class="carousel slide" data-ride="carousel">
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        
      </ol>
      <div class="carousel-inner">
        <div class="item active">
          <iframe name='tours' marginwidth='0' marginheight='0' align='middle' border='0' frameborder='0' style='height:100%; width: 100%; z-index:1; clear:both;' allowtransparency='true' scrolling='no' src='https://www.vpix.net/index.php?tour=441192'></iframe>
          <div class="container">
            <div class="carousel-caption">
              <h1>360째 Virtual Photography</h1>
			  <p>click and scroll to explore all 360째</p>
            </div>
          </div>
        </div>
        <div class="item">
          <img data-src="holder.js/900x500/auto/#666:#6a6a6a/text:Second slide" alt="Second slide">
		  <iframe name='tours' marginwidth='0' marginheight='0' align='middle' border='0' frameborder='0' style='height:100%; width: 100%; z-index:1; clear:both;' allowtransparency='true' scrolling='no' src='https://www.vpix.net/index.php?tour=441162'></iframe>
          <div class="container">
            <div class="carousel-caption">
              <h1>360째 Virtual Photography</h1>
			  <p>click and scroll to explore all 360째</p>
            </div>
          </div>
        </div>
		
      </div>
      <a class="left carousel-control" href="#myCarousel" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span></a>
      <a class="right carousel-control" href="#myCarousel" data-slide="next"><span class="glyphicon glyphicon-chevron-right"></span></a>
    </div><!-- /.carousel -->