@import "bootstrap";

.carousel-caption{
	color:black;
	//background: rgb(54, 25, 25); /* Fall-back for browsers that don't
//	                                    support rgba */
//	background: rgba(54, 25, 25, .5);
	-webkit-user-select: none; /* Chrome/Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+ */

	/* Rules below not implemented in browsers yet */
	-o-user-select: none;
	user-select: none;
	
}
.navbar{
	margin-top:20px;
}
.navbar-custom{
	//background-color:red;
	// background: rgba(10, 63, 90, .5);
	background-color:white;
	color:white;
	border-top:1px solid black;
	border-bottom:1px solid black;
}

.navbar-custom .navbar-nav > li > a {
    color:black;
  	font-family: 'Poiret One', cursive;
  	font-size:20px;
}
.navbar-custom .navbar-nav > .active > a, .navbar-nav > .active > a:hover, .navbar-nav > .active > a:focus {
    color: #CC3300;
    background-color:transparent;
}
.navbar-custom .navbar-brand {
    color:#eeeeee;
}
.navbar-custom .navbar-nav > li > a:hover, .nav > li > a:focus {     
	text-decoration: none;     
	color: #FF0000; 
	background-color: none;
	background:none;
}

a.navbar-brand{
	font-family: 'Poiret One', cursive;
	font-size:30px;
}

.navbar .navbar-nav {
  display: inline-block;
  float: none;
}

.navbar .navbar-collapse {
  text-align: center;
}

.nav_link a{
  	color:blue;
}
.navbar-default .navbar-toggle {
  border-color: #563D7C;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: #563D7C;
}
.icon-bar{
	border:1px solid black;
}




h1, h2, h3, h4, h5, h6{
	font-family: 'Nixie One', cursive;
}

body, p{
	font-family: 'Raleway', sans-serif;
}


.carousel-caption{
    color:white;
}
.caption-black{
	color:black;
}

.img-circle-border{
	border:solid 10px rgba(228.0,101.0,4.0, 0.5);
}

#contact_bubble{
	position:fixed;
	top:10px;
	right:40px;
	width:150px;
	height:150px;
	z-index:10000;
	font-family: 'Poiret One', cursive;
	font-size:20px;
}

#contact_bubble a:hover{
	text-decoration: none;     
	color: #FF0000; 
	background-color: none;
	background:none;
}
#contact_bubble a{
	text-decoration: none;     
	color: black; 
	background-color: none;
	background:none;
}

#contact_bubble.active a{
	text-decoration: none;     
	color: #CC3300; 
	background-color: none;
	background:none;
}

#portfolio_logo{
	position:fixed;
	top:10px;
	left:40px;
	width:75px;
	height:75px;
	z-index:10000;
	font-family: 'Poiret One', cursive;
	font-size:20px;
	padding:none;
}

.img-circle-small-border{
	//border:solid 2px rgba(0,0,0, 0.5);
	border:solid 2px rgba(228.0,101.0,4.0, 0.5);
}

#bottom_bubble{
	position:absolute;
	bottom:20px;
	left:20px;
	z-index:10000;
	text-align:center;
	font-family: 'Poiret One', cursive;
}

.small_bill{
	width:40px;
	font-size:3px;
}

.large_bill{
	width:150px;
	font-size:14px;
}

@media (max-width: 768px){
    .navbar-nav{
        text-align: left;
    }
}

.navbar-header{
	float:left;
}

#bill_caption{
	background:black;
	color:white;
}

//.brand_logo{
//	padding:0px !important;
//	padding-top:0px !important;
//	margin:0px !important;
//	border:solid 5px blue;
//	background-color:green;
//	display:block;
//}
//.nav .brand_logo img{
//	padding:0px !important;
//	padding-top:0px !important;
//	margin-top:0px !important;
//	width:100%;
//	height:200%;
//	border:solid 5px red;
//	background-color:green;
//	display:block;
//}
//
//.nav {
//	padding-top:;
//}


.footer_container{
}
footer{
	margin-top:60px;
	background-color:black;
	color:white;
	padding-top:10px;
	padding-bottom:10px;
	text-align:center;
	position:relative;
}
footer h4{
	margin-top:0px;
	color:white;
}
body{
	padding-bottom:0px !important;
	margin-bottom:0px !important;
}
.center{
	text-align:center;
}
.colorize_header{
	background-color:black;
	margin-bottom:0px;
	padding:15px;
	color:white;
}
.thumbnail{
	border:none !important;
}
.portfolio_row{
	padding-top:150px;
}

.virtual{

	font-family: 'Poiret One', cursive;
	font-size:50px;
	color:black;
}
.padded_container{
	padding-top:100px;
	padding-bottom:100px;
}
.landing_page_icons
{
	max-width:120px;
	width:100%;
	margin-bottom:40px;
}
html,body{
    height: 100%
}
#yield_container{
	padding-bottom:50px;
}